@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap");

* {
  font-family: "Baloo Tamma 2", cursive;
}

.index-header {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 100px;
}

.index-header h1 {
  font-weight: 300;
}

.index-header p {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 570;
  font-size: 18px;
}

.index-login__row {
  margin-top: 100px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 30px 20px;
  padding-bottom: 20px;
}

.index-btn__column {
  margin-bottom: 20px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.04);
  padding-top: 20px;
  margin: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.index-login__account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.4);
}
